!!! 5
html
  head
    title Embedly Provider Stats API
    link(rel="stylesheet", href="/static/endpoint/css/reset.css", type="text/css", media="screen")
    link(rel="stylesheet", href="/static/endpoint/css/style.css", type="text/css", media="screen")
  body
    block content
