!!!
html
  head
    title Embedly Provider Stats API
    link(rel="stylesheet", href="/static/endpoint/css/reset.css")
    link(rel="stylesheet", href="/static/endpoint/css/style.css")
  body
    #container!= body
