body {
  background: #cdc0c0 url(../images/bg-main.png) repeat;
}
div.doc {
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 622px;
}
ul.enpoints {
  padding: 0px;
  margin: 0px;
}
div.endpoint {
  font-family: "Droid Sans", "Trebuchet MS", Trebuchet, Helvetica, sans-serif;
  padding: 20px 10px 20px 10px;
  margin: 20px 0px 20px 0px;
  background: #eeeeee; /*transparent url(../images/bg.png) repeat-x top left;*/
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  color: #444444;
  width: 600px;
}

div.endpoint a:visited, div.endpoint a:link, div.endpoint a:hover, div.endpoint a:active {
  color: #4444bb;
  text-decoration: none;
  font-weight: bold;
}


div.endpoint div.section {
  padding: 0px 0px 0px 20px;
}
div.endpoint div.section div.section_title {
  font-weight: bold;
  font-size: 1em;
  color: #888888;
}

div.endpoint div.section div.section_text {
  font-size: .8em;
  padding: 10px 0px 10px 20px;
}

div.endpoint div.params dl {
  padding: 0px;
  margin: -10px 0 0 0;
  font-size: 0.9em;
  width: 500px;
}

div.endpoint div.params dl dt {
  position: relative;
  left: 0;
  top: 1.1em;
  width: 9em;
  font-weight: bold;
  color: #000000;
}

div.endpoint div.params dl dd {
  border-left: 1px solid #000;
  margin: 0 0 0 9em;
  padding: 0 0 .2em .5em;
  min-height: 1em;
}

div.errors div.error {
  font-family: "Droid Sans", "Trebuchet MS", Trebuchet, Helvetica, sans-serif;
  font-size: 15px;
  margin: 20px auto 0px auto;
  width: 535px;
  border: 1px solid #c5c5c5;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background: pink url(../images/error.png) no-repeat;
  background-position: 1em center;
  padding: 10px 10px 36px 5em;
  border-radius: 3px;
  color: #c00;
  line-height: 25px;
  min-height: 30px;
  vertical-align: middle;
}

div.errors div.error div {
  position: relative;
  top: 16px;
}

div#response {
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 622px;
}
div#response pre {
  padding: 20px 10px 20px 10px;
  margin: 20px 0px 20px 0px;
  background: #eeeeee;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  width: 600px;
}

div#response pre span.string {
  color: #009900;
}

div#response pre span.number {
  color: #000099;
}

div#response pre span.keyword {
  color: #990000;
}
